body {
    background-image: url(../imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.start {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 30px;

    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.start h2 {
    font-family: 'Masterpiece', serif;
    color: #a5a5a5;
    font-size: 50px;
}

.start button {
    font-family: 'Masterpiece', serif;
    background-color: #c2bfbf;
    color: #535353;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    border: 0;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    box-shadow: rgba(215, 215, 215, 0.3) 0px 7px 29px 0px;
}

.start button:hover {
    background-color: #909090;
}